body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.section {
  margin: 0 auto;
  padding: 1rem;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.headline {
  background-color: #2a8bb5;
  overflow: auto;
  padding: 0;
}

.headline__title {
  background-color: #2a8bb5;
  float: left;
  margin: 0;
  color: white;
}

.top-nav {
  overflow: auto;
  margin: 0.5;
  padding: 0 1rem;
}

.top-nav__left {
  float: left;
  margin: 0;
}

.top-nav__right {
  margin: 1rem 0;
  float: right;
  color: white;
}

.top-nav__item {
  font-size: 1rem;
  display: inline-block;
  padding: 0 1rem;
  padding-top: 1.5rem;
}

.grid {
  overflow: auto;
  margin: -1rem;
}

.grid-item {
  margin: 1rem;
  width: calc(100% / 3 - 1rem - 1rem);
  float: left;
  min-width: 20rem;
  border: 0.1rem solid #aaa;
  border-radius: 0.5rem;
}

.profile {
  margin: 1rem auto;
  overflow: auto;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  float: left;
  margin-left: .5rem;
}

.user-info__text {
  margin-left: 1rem;
  float: left;
  padding: 0.5rem;
}

.profile-name {
  color: black;
  font-size: 1.2rem;
  margin: 0;
}

.profile-username {
  color: #878b89;
  font-size: 0.8rem;
  margin: 0;
  padding-top: 0.2rem;
}

img {
  max-width: 100%;
}


/*Bottom of Profile*/

.repo {
  padding: 0;
  margin: 0;
}

.repo__item {
  border-top: .1rem solid #aaa;
  padding: .25rem 1rem;
  margin: 0;
  overflow: auto;
}

.repo-name {
  float: left;
}

.repo__item-right {
  float: right;
}

.repo__dot {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #61c97d;
}

.repo__dot__two {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #222d63;
}

.repo__dot__three {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #cde848;
}

.repo__dot__four {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #db31a2;
}

.repo__dot__five {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #998559;
}

.repo__dot__six {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #da61ce;
}

.repo__dot__seven {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #da7135;
}

.repo__dot__eight {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #64a463;
}

.repo__dot__nine {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #eb523d;
}

.repo__dot__ten {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #222d63;
}

.repo__dot__eleven {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #02040b;
}

.repo__dot__twelve {
  display: inline-block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background: #222d63;
}
