body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.headline {
  background-color: #4144cc;
  overflow: auto;
}

.headline__title {
  background-color: #35c655;
}

.profile {
  background: pink;
  overflow:auto;
  float: right;
  width: 20rem;
  solid: solid 3px black;
}
